.nav-content{
    color: black;
    display: flex;
    
}
.carrousel img{
    height: 200px;
}
.carrousel{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    
}
.slick-next {
    right: 0;
}